/* bacground color */
    /* Navbar */
    *{margin: 0;padding: 0;
        box-sizing: border-box;}
        
        .header {width: 100%;
            background-image: linear-gradient(to right,#4cd1d1, #ffb88c);
        }
        
        .navbar-brand {color: rgb(0, 0, 0) !important;
        }
    
        .nav-link {color: rgb(0, 0, 0) !important;}
    
        .nav-link:hover {color: #ffffff !important;}
    
        @media (max-width:668px){
            .nav-link{text-align: center;}
        }
        nav {
            font-family: sans-serif;
            padding: 0.5% 10%;  
            font-size: 18px;
        }
        nav img {
            width: 160px;  
        }
    
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

body, html {
	width: 100%;
	height: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
    text-transform: capitalize;
    background-image: linear-gradient(to right,#4cd1d1, #ffb88c);
}

/* Title */
.carousel-caption .display-2{
    font-size: 100px;
    text-transform: capitalize;
    text-decoration-line: underline;
    font-family: monospace;
    font-weight: 600;
}

.card-title{
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    color: #000;
    font-family: Cursive;
}

/* paket tour */
.row{
    text-align: center;
    text-transform: capitalize;
    color: black;
    font-family: cursive-Brush Script MT;
    font-weight: bolder;
    -webkit-text-stroke: 0.05rem black;
    text-shadow: white;
}

.navbar-brad img {width: 120px}

.navbar-nav li {
	padding-right: 20px;
}

.nav-link {font-size: 1.1em !important}

.carousel-inner {
	height: auto;
    
}

.carousel-inner img {
	transform: translateY(-30%);
	width: 100%;
	height: auto;
}

.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-80%);
	text-shadow: 1px 1px 10px #000;
}

.gb-container-20099ae6 > .gb-inside-container {
    padding: 30px 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    text-align: left;
    
    font-family: 'Poppins', sans-serif;
	color: rgb(0, 0, 0);
    font-size: 20px;
}

@media(max-width:900px){
    .carousel-caption .display-2{
        font-size: 50px;
        text-transform: capitalize;
        text-decoration-line: underline;
        font-family: monospace;
        font-weight: 300;
    }
}
@media(max-width:630px){
    .carousel-caption .display-2{
        font-size: 20px;
        text-transform: capitalize;
        text-decoration-line: underline;
        font-family: monospace;
        font-weight: 100;
    }
}
@media(max-width:960px){
    .carousel-caption .display-2{
        font-size: 50px;
        text-transform: capitalize;
        text-decoration-line: underline;
        font-family: monospace;
        font-weight: 100;
    }
}

@media(max-width:325px){
    .carousel-caption .display-2{
        font-size: 20px;
        text-transform: capitalize;
        text-decoration-line: underline;
        font-family: monospace;
        font-weight: 100;
    }
    .carousel-caption .btn {
        width: auto;
        height: auto;
        font-size: 10px;
    }
}
@media(max-width:400px){
    .carousel-caption .display-2{
        font-size: 20px;
        text-transform: capitalize;
        text-decoration-line: underline;
        font-family: monospace;
        font-weight: 100;
    }
    .carousel-caption .btn {
        width: auto;
        height: auto;
        font-size: 10px;
    }
}
@media(max-width:600px){
    .carousel-caption .display-2{
        font-size: 30px;
        text-transform: capitalize;
        text-decoration-line: underline;
        font-family: monospace;
        font-weight: 100;
    }
}